h1 {
  margin-top: 100px;
}

.navbar-brand img {
  height: 25px;
}

.btn-info {
  margin-left: 10px;
}

.checkbox {
  display: inline-block;
}

.strikeout:checked + span {
  text-decoration: line-through;
}
.strikeout {
  text-decoration: line-through;
  margin-right: 10px;
}

td span {
  margin-left: 10px;
}

.footer {
  background-color: white;
  height: 40px;
  padding-top: 10px;
  text-align: right;
}